.icon-bx-wraper{
	&.style-2{
		background-color: #fff;
		overflow: hidden;
		display: flex;
		align-items: center;
		@include transitionMedium;
		.icon-bx{
			background-color:var(--rgba-primary-1);
			width:100px;
			height:100px;
			min-width:100px;
			border-radius:100%;
			line-height:100px;
			text-align:center;
			margin-right:20px;
			.icon-cell{	
				svg{
					fill:var(--primary);
				}
			}
		}
		&:hover,
		&.active{
			.icon-bx{
				background-color:var(--primary);
				.icon-cell{
					svg{
						fill:#fff;
					}
				}
			}
			
		}
		
	}
}
