.counter-box {
	//Style-1
	&.style-1 {
		display: flex;
		align-items: center;
		justify-content:center;
		.icon-bx{
			margin-right: 20px;
			
			i{
				font-size: 55px;
				color:var(--primary);
			}
		}
		.counter-r{
			text-align: left;
			
			.title {
				margin-bottom: 0;
				font-weight: 700;
			}
			p{
				margin-bottom: 0;	
			}
		}
		@include respond('tab-port'){
			justify-content:unset;
			.icon-bx{
				i{
					font-size:35px;
				}
			}
		}
	}
	
}